.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    h4 {
        margin: 0px 0;
        text-align: center;
    }

    span {
        font-size: small;
        text-align: center;
        color: grey;
    }

    button {
        min-width: 70px;
        box-shadow: none;
    }

    button:focus {
        box-shadow: none;
    }
}