.leads-container {
    display: flex;
    background-color: rgba(242, 242, 242, 0.448);

    .leads-body {
        width: 100%;

        .leads-content {
            padding: 30px 30px;
        }
    }
}