.dashboard-container {
    height: 100vh;

    display: flex;
    background-color: rgba(242, 242, 242, 0.448);

    .dashboard-body {
        height: 100%;
        width: 100%;

        .dashboard-content {
            object-fit: contain;
            padding: 10px 30px;
        }
    }

    .dashboard-body-compressed {
        padding-left: 200px;
        height: 100%;
    }
}