.dashboard-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
    width: 100%;
}

.dashboard-item {
    border: 1px solid lightgrey;
    border-radius: 25px;
    background-color: #fff;

    .item-text {
        font-size: 11px;
        color: gray;
        height: 60px;

    }

    .progress-bar {
        background-color: #dc3545;
        // background-color: #df374854;
        border-radius: 3px;
    }
}

.d-item-s {
    width: 24%;
}

.d-item-m {
    width: 32%;
}


.d-item-l {
    width: 49%;
}

.d-item-xl {
    width: 66%;

    .lead-data {

        font-size: 10px;
        color: gray;

        .lead-img {
            border: none;
            border-radius: 20px;
            width: 27px;
            height: 27px;
            margin-right: 12px;
        }

        .lead-name {
            font-weight: 700;
            color: black;
        }

        .lead-time {}

        .lead-status {}

        .lead-actions {}
    }
}