.dashboard-container {
    
      
    display: flex;
    background-color: rgba(242, 242, 242, 0.448);

    .dashboard-body {
        padding-left: 200px;
        height: 100%;

        .dashboard-content {
            object-fit: contain;
            padding: 10px 30px;
        }
    }
}