.header-container {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 35px 0px 100px;

    background-color: white;

    position: fixed;
    top: 0;

    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .userName {
            // margin-right: 20px;
        }
    }

    .logout:hover {
        cursor: pointer;
        color: red;
        transition: all 0.2s;
    }
}

.header-container-compressed {
    padding: 0px 35px 0px 240px;
}