$sub-color: grey;
$main-color: black;

.group {
  width: 100%;
  position: relative;
  margin: 35px 0px 30px 0px;

  .error {
    position: absolute;
    color: red;
    font-size: 0.6rem;
    margin-left: 1px;
  }

  .form-input {
    background-color: white;
    color: $sub-color;
    font-size: 14px;
    padding: 20px 13px;
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $sub-color;
    margin: 2px 0px 2px 0px;
    outline: solid 0px $main-color;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-left: 2px;
  }
}