$sub-color: grey;
$main-color: black;

.group {
  width: 100%;
  position: relative;
  margin: 25px 0px 30px 0px;

  .error {
    position: absolute;
    color: red;
    font-size: 0.6rem;
    margin-left: 1px;
  }

  .form-control {
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 2px 0px 2px 0px;
    border-color: lightgrey;
    color: gray;
  }

  .form-control:focus {
    box-shadow: none;
  }

  .form-contorl:valid {
    outline-color: black;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-left: 2px;
  }
}